.app-heading {
  padding-top: 10px;
  color: $rad-red;
}

h2.app-heading {
  font-size: 1.5em;
  @media #{$ms} {
    font-size: 2em;
  }
}

h3.app-heading {
  font-size: 1.2em;
  @media #{$ms} {
    font-size: 1.5em;
  }
}

h3.app-heading {
  font-size: 1.1em;
  @media #{$ms} {
    font-size: 1.3em;
  }
}

.app-heading + .empty-state {
  padding-top: 0;
}
