
$list-item-view-height: 50px;

@import './list/leader';

.app-ls {

  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: $list-item-view-height / 2;

  .app-li + .app-li .underlined {
    border-top: $desat-rad-red 1px solid;
  }

  // app list item column
  .app-li-col {
    height: 50px;
    display: inline-block;
  }

  //
  // Application list item index
  //
  //   .app-li-index         the circle surrounding the index
  //   .app-li-index::after  the number inside the circle (aka the index itself)
  //
  .app-li-index {
    $circle-size: ($list-item-view-height / 5) * 3;

    background-color: $rad-red;
    color: $white;
    width: $circle-size;
    height: $circle-size;
    border-radius: $circle-size;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    position: relative;

    &:after {
      position: absolute;
      top: 6px;
      width: $circle-size;
      content: attr(data-index);
      text-align: center;
      font-weight: 300;
      font-size: smaller;
      font-family: $body-font;
    }
  }

  @media #{$ms} {
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
  }
}

