
$list-item-view-height: 50px;

@import './list/leader';

.app-ls {

  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: $list-item-view-height / 2;

  .app-li + .app-li .underlined {
    border-top: $desat-rad-red 1px solid;
  }

  // app list item column
  .app-li-col {
    height: 50px;
    display: inline-block;
  }

  .app-li-i-circle {
    background-color: $rad-red;
    color: $white;
  
    $circle-size: ($list-item-view-height / 5) * 3;
  
    width: $circle-size;
    height: $circle-size;
    border-radius: $circle-size;
  
    float: right;
    margin-top: 10px;
    margin-right: 15px;
  }

  .app-li-i {
    font-family: $body-font;
    padding-top: 6px;
    text-align: center;
    font-weight: 300;
    font-size: smaller;
  }

  @media #{$ms} {
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
  }
}

