$mobile-nav-height: 60px;
$other-nav-height: 80px;

.nav-bar {

  color: $rad-red;
  // border-bottom: $desat-rad-red 3px solid;
  // color: $white;

  height: $other-nav-height;

  .page-name {
    margin-top: $other-nav-height / 3;
    text-align: center;
    font-size: 36px;
  }

  @media #{$sm} {
    height: $mobile-nav-height;
    .page-name {
      margin-top: $mobile-nav-height / 4;
      font-size: 24px;
    }
  }

  // fixed navbar effect

  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999;

}


.nav-burger {

  $height: 40px;
  $width: 40px;
  $n-buns: 3;
  $bun-height: $height / (($n-buns * 2) + 1);

  position: absolute;
  width: $width;
  height: $height;
  background-color: $rad-red;

  margin-left: 20px;
  margin-top: 20px;

  @media #{$sm} {
    margin-left: 10px;
    margin-top: 10px;
  }

  &:hover {
    background-color: $desat-rad-red;
  }

  .nav-bun {
    //
    // at the moment don't worry about this
    //
    $spacing: 0;

    content: ' ';
    display: block;
    background-color: $white;
    margin-left: $bun-height;
    margin-bottom: $spacing;
    margin-top: $bun-height + $spacing;

    width: $width - (2 * $bun-height);
    height: $bun-height - (2 * $spacing);
  }

}


.main-contents {
  margin-top: $other-nav-height + 5px;

  @media #{$sm} {
    margin-top: $mobile-nav-height + 5px;
  }
}
