
.landing-page {

  font-family: 'Lato', sans-serif;

  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0em;
  color: $light-white;

  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100vw;
  height: 100vh;

  border-bottom: none;
  background-color: #E64949;
  background-image: radial-gradient(farthest-corner, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-position: 50% 50%;

  .center-wrapper {
    text-align: center;
    margin: 0em;
    padding: 35vh 0em;
    position: relative;
    z-index: 2;
  }

  .app-name {
    display: initial;
    color: #FFFFFF;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1.2;
    padding-bottom: 0px;
    bottom: -1.75em;
    margin-bottom: -0.75em;

    font-size: 7rem;

    @media #{$iphone6-screen} {
      font-size: 5.5rem;
    }
    @media #{$iphone5-screen} {
      font-size: 5rem;
    }
  }

  .divider {
    height: 10px;
    @media #{$iphone6-screen} {
      height: 15px;
    }
  }

  .call-to-action  {
    -webkit-transition: color .2s, border-color .2s;
    transition: color .2s, border-color .2s;

    color: $light-white;
    text-decoration: none;
    border: 2px $light-white solid;
    border-radius: 7px;
    padding: 0.7em 1em;

    font-size: 1.2rem;

    @media #{$iphone6-screen} {
      font-size: 1rem;
    }

    &:hover {
      border-color: #FFF;
      color: #FFF;
    }

    + .call-to-action {
      margin-left: 0.5em; 
    }
  }
}





