<div class="row player-list-row">
  <div class="list-item-col g-1-5 g-sm-1-6 g-ms-1-12 g-md-1-12 g-lg-1-12">
    <div class="player-index-circle">
      <div class="player-index">{{inc-number view.contentIndex}}</div>
    </div>
  </div>
  <div class="list-item-col g-4-5 g-sm-5-6 g-ms-11-12 g-md-11-12 g-lg-11-12 underlined">
    <div class="player-alias">{{alias}}</div>
  </div>
</div>

