<h1 class="registration-header">Quick Setup</h1>

<form class="registration-form">
  {{input
      placeholder="Your alias"
      class="registration-input-text"
      type="text"
      value=playerAlias}}
  <input type="submit"
         class="registration-button"
         {{action 'confirm'}}>
</form>
