<section class="text-section">
  <h2 class="app-heading">{{model.title}}</h2>
  <p class="text-body">{{model.description}}</p>
</section>
{{#link-to 'leader' class="app-call-to-action"}}Leader board{{/link-to}}
