<nav class="nav-bar">
  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="g-3-12">
          <div class="nav-burger">
            <div class="nav-bun"></div>
            <div class="nav-bun"></div>
            <div class="nav-bun"></div>
          </div>
        </div>
        <h2 class="page-name g-6-12">{{view.pageTitle}}</h2>
      </div>
    </div>
  </div>
</nav>
{{outlet}}
