<div class="center-wrapper">
  <h1 class="app-name">
    {{appName}}!
  </h1>
  <div class="divider"></div>
  {{#link-to 'leader' class="call-to-action"}}Leader{{/link-to}}
  {{#link-to 'profile' class="call-to-action"}}You{{/link-to}}
</div>

{{outlet}}
