<div class="left aligned column">
  <h2 class="ui header">Welcome to {{appName}}!</h2>
  
  <p>
    You've clicked {{count}} times!!!
  </p>
  
  <button {{action 'incrementCount'}}>Count</button>
</div>

{{outlet}}
