<div class="full height">
  <div class="masthead segment">
    <div class="ui page grid">
      <div class="center-wrapper">
        <h1 class="ui inverted header">
          <span class="app-name transition visible">
            {{appName}}!
          </span>
        </h1>
        <div class="ui hidden divider"></div>
        {{#link-to 'leader' class="ui huge basic inverted download button call-to-action"}}Leader{{/link-to}}
        {{#link-to 'profile' class="ui huge basic inverted download button call-to-action"}}You{{/link-to}}
      </div>
    </div>
  </div>
</div>

{{outlet}}
